<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>Yuhan Liu - Blogs</title>
</head>
<body>

<div class="background_3 light_text" style="padding: 20px">
    <header style="width: 100%;vertical-align: text-bottom;">
        <h1 style="content: none;">Blogs</h1>
    </header>
</div>

<div style="padding: 20px">
    <h3>
        This page is currently in progress! Please check back later.
    </h3>
</div>

</body>
</html>
